<template>
  <div class="door_4">
    <Nav_ />
    <Key_4 />
  </div>
</template>

<script>
// @ is an alias to /src
import Key_4 from "@/components/Key_4.vue"
import Nav_ from "@/components/_Nav.vue"

export default {
  name: 'door_4',
  components: {
    Key_4,
    Nav_
  }
}
</script>
