<template>
  <div class="door_2">
    <Nav />
    <div v-if="theTerribleBeast == true">
      <Key_2 />
    </div>
  </div>
</template>

<script>
import Key_2 from "@/components/Key_2.vue"
import Nav from "@/components/Nav.vue"

export default {
  name: "door_2",
  components: {
    Key_2,
    Nav
  },
  data() {
    return {
      theTerribleBeast: false
    }
  },
  methods: {
    prophecy() {
      this.theTerribleBeast = true;
    }
  }
};
</script>
