<template>
  <div class="door_3">
    <Key_3 />
  </div>
</template>

<script>
// @ is an alias to /src
import Key_3 from '@/components/Key_3.vue'

export default {
  name: 'door_3',
  components: {
    Key_3
  }
}
</script>