<template>
  <div class="door_1">
    <Key_1 />
  </div>
</template>

<script>
// @ is an alias to /src
import Key_1 from "@/components/Key_1.vue";

export default {
  name: "door_1",
  components: {
    Key_1
  }
};
</script>
