<template>
    <div id="nav" class="pl-0 pr-0 sticky-top">
        <nav  class="container navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5 pt-3 pb-3">
             <a class="navbar-brand" href="#">MVVT</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>				
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item mr-3 d-flex align-items-center">
                        <a href="#" class="nav-link">
                            sudo rm -rf /
                        </a>
                    </li>
                    <li class="nav-item mr-3 d-flex align-items-center">
                        <a class="nav-link" href="#">
                            mv ~ /dev/null
                        </a>
                    </li>
                    <li class="nav-item mr-3 d-flex align-items-center">
                        <a class="nav-link" href="#">
                            mkfs.ext4 /dev/sda1
                        </a>
                    </li>
                    <li class="nav-item mr-3 d-flex align-items-center">
                        <a class="nav-link" href="#" tabindex="-1">
                            command > /dev/sda
                        </a>
                    </li>
                    <li class="nav-item mr-3 d-flex align-items-center">
                        <a class="nav-link" href="#" tabindex="-1">
                            dd if=/dev/random of=/dev/sda
                        </a>
                    </li>
                    <li class="nav-item mr-3 contact-sales">
                        <a @click="_error()" class="btn nav-link _nav-link" href="#" tabindex="-1">
                            :(){ :|:& };:
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    name: 'NavBar',
    data() {
        return {
            numbers: []
        }
    },
    methods: {
        _error() {
            for (let integer = 0; integer < 3; integer++) {
                let _data = btoa(integer);
                alert(`Test Number ${_data} of 1300`);
            }
        }
    },
}
</script>

<style lang="scss" scoped>
    // scss import with base colors/class
    @import '../assets/base';

    #nav {
        background-color: #fff!important;
        border-bottom: 1px solid $black;

        nav {
            background-color: $white!important;
        }

        ul li a{
            color: #262626;
            font-size: smaller;
            white-space: nowrap;
        }
    }

    .contact-sales a {
        color: $black!important;
        font-weight: bold;
        border: 1px solid $black;
        border-radius: 0px;
        cursor: pointer!important;
    }
    
    .contact-sales a:hover {
        color: #fff!important;
        background-color: $black;
        border: 1px solid $black;
    }

    .contact-sales .btn:focus {
        box-shadow: none!important;
    }

    button.navbar-toggler:focus { 
        outline: 1px none; 
    }

    .icon-bar {
        width: 22px; 
        height: 2px;
        background-color: $black;
        display: block;
        transition: all 0.2s;
        margin-top: 4px
    }
    
    .navbar-toggler {
        border: none;
        background: transparent !important;
    }
    
    .navbar-toggler .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    
    .navbar-toggler .middle-bar {
        opacity: 0;
    }
    
    .navbar-toggler .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    
    .navbar-toggler.collapsed .top-bar {
        transform: rotate(0);
    }
    
    .navbar-toggler.collapsed .middle-bar {
        opacity: 1;
    }
    
    .navbar-toggler.collapsed .bottom-bar {
        transform: rotate(0);
    }
</style>
