<template>
  <div class="Key_1 container">
    <div v-if="countDown == 0">
      <div ref="_key" @mouseenter="initDisorder()" @mouseout="neutralize()" class="row">
        <div class="col key_13 text-center invisible">
          13
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="king d-flex align-items-center align-middle justify-content-center animated fadeIn slow">
          {{main}}
        </div>  
      </div>
      <div @click="setCookie()"  class="row d-none">
        <div class="col king _cursor d-flex align-items-center align-middle justify-content-center">
          {{sub_2}}
        </div>
      </div>
    </div>
      <div v-if="mvt == true" class="row justify-content-center">
        <div @click="decay()" class="king _cursor d-flex align-items-center align-middle justify-content-center animated fadeIn slow">
          {{sub}}
        </div>  
      </div>
      <div v-if="countDown != 0" class="row justify-content-center">
        <div class="counter d-flex align-items-center align-middle justify-content-center">
          {{countDown}}
        </div>  
      </div>
  </div>
</template>

<script>
export default {
  name: "Key_1",
  data() {
    return {
      countDown: 6,
      mvvt: false,
      mvt: false,
      key_13: false,
      main: window.btoa('Death'),
      sub: '',
      sub_2: window.btoa('Destruction'),
      timer: ''
    }
  },
  methods: {
    countDownTimer() {
      if(this.countDown > 0) {
        setTimeout(() => {
          this.countDown -= 1;
          this.countDownTimer();
        }, 2000);
      } 
    },
    initDisorder() {
      this.timer = setTimeout(() => {
        this.$refs._key.remove();
        document.getElementsByTagName('body')[0].className = "chaos";
        document.getElementsByTagName('body')[0].classList.remove("custom-body");
        this.main = window.btoa('Chaos');
        this.sub = window.btoa('Greed');
        this.mvt = true;
      }, 6000);
    },
    neutralize() {
      window.clearInterval(this.timer);
    },
    setCookie() {
      var encodedData = window.btoa('This is the Kingdom of Filth'); // encode a string
      
      this.$cookie.set('Key_13', encodedData, 13);
    },
    decay() {
      setTimeout(() => {
        this.$router.push({
          name: 'door_2'
        });
      }, 6000);
    }
  },
  created() {
    this.countDownTimer(); 
		document.getElementsByTagName('html')[0].className = "myHtml";
		document.getElementsByTagName('body')[0].className = "custom-body";
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=New+Rocker&display=swap');

  .counter {
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 30px;
    font-family: 'New Rocker', cursive;
    height: 120px;
    width: 120px;
    animation: shadow-pulse 2s;
    animation-iteration-count: 14;
    background-image: radial-gradient(circle, black, black, white 95%);
  }

  .key_13 {
    font-size: 50px;
    font-family: 'New Rocker', cursive;
  }

  .king {
    font-size: 50px;
    font-family: 'New Rocker', cursive;
    cursor: default;
  }

  ._cursor {
    cursor: pointer!important;
  }

  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0px #fff;
    }

    100% {
      box-shadow: 0 0 0 60px rgba(0, 0, 0, 0);
    }
  }

</style>
