<template>
  <div @click="disorientate()" class="Key_2 container animated fadeIn slower">
    <div class="row justify-content-between row-1 mt-5 mb-5">
      <div class="btn-group">
        <button type="button" class="btn btn-danger">Door 1</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only"></span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">What madness stirs in the depths of the dark?</a>
          <a class="dropdown-item" href="#">Ever so near...</a>
          <a class="dropdown-item" href="#">Like forlorn beasts of prey stalking their captor</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Unholy revenants</a>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-danger">Door 2</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only"></span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Manifestation of the curse that gnaws</a>
          <a class="dropdown-item" href="#">Like shards in the folds of flesh</a>
          <a class="dropdown-item" href="#">Sanctity begotten in damnations womb</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Abominations in the presence of whom</a>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-danger">Door 5</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only"></span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">The fertile seeds of iniquity deep in the heart</a>
          <a class="dropdown-item" href="#">in the nothingness of absent light,</a>
          <a class="dropdown-item" href="#">Begin to germinate and take form</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Eyes for teeth and teeth for eyes</a>
        </div>
      </div>
    </div>
    <div class="row text-center row-2 mt-5 mb-5">
      <div class="col-3">
        <div class="row justify-content-end">
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Door 7</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">At the crumbling</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Teeth that see and eyes that bite</a>
              <a class="dropdown-item" href="#">Through the gates of the night</a>
              <a class="dropdown-item" href="#">Wild and free - the power</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Pandemoniac</a>
            </div>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Door 10</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Their trail is marked by a residue of nameless rage</a>
              <a class="dropdown-item" href="#">And the severed hands of the thieves that sway</a>
              <a class="dropdown-item" href="#">In winds that howl forevermore through the abyss</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">And rise at will</a>
              <a class="dropdown-item" href="#">Up from the Netherworld</a>
            </div>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Door 9</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Downwards, search and you shall find</a>
              <a class="dropdown-item" href="#">Certain as the setting sun was so descent</a>
              <a class="dropdown-item" href="#">But the deeps are old and without end</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">There's more than darkness in them</a>
            </div>
          </div>
        </div>
      </div>
      <div @click="aceOfPentacles()" ref="nameless" class="col-6 d-flex align-items-center justify-content-center whoami animated heartBeat infinite">
        {{whoami}}
      </div>
      <div class="col-3">
        <div class="row justify-content-start">
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Door 6</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <form class="px-4 py-3">
                <div class="form-group">
                  <label for="exampleDropdownFormEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleDropdownFormPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                      Remember me
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">New around here? Sign up</a>
              <a class="dropdown-item" href="#">Forgot password?</a>
            </div>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Door 11</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">More than a heart may hold</a>
              <a class="dropdown-item" href="#">More than man may learn</a>
              <a class="dropdown-item" href="#">Before the eyes of a god</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">In judgement stern</a>
            </div>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Door 8</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Down there</a>
              <a class="dropdown-item" href="#">You shall reap what you have sown</a>
              <a class="dropdown-item" href="#">There flow the rivers of our being out of sight</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Into never ending night</a>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="row justify-content-between mb-5 mt-5">
      <div class="btn-group">
        <button type="button" class="btn btn-danger">Door 12</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">All we have ever known</a>
          <a class="dropdown-item" href="#">All that was and is to come</a>
          <a class="dropdown-item" href="#">And all which never came to pass</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">In that abyss alike extinguished</a>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-danger">Door 13</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <form class="px-4 py-3">
            <div class="form-group">
              <label for="exampleDropdownFormEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
            </div>
            <div class="form-group">
              <label for="exampleDropdownFormPassword1">Password</label>
              <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                  Remember me
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">New around here? Sign up</a>
          <a class="dropdown-item" href="#">Forgot password?</a>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-danger">Door 3</button>
        <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Down there</a>
          <a class="dropdown-item" href="#">All that a heart may hold</a>
          <a class="dropdown-item" href="#">All that man may learn</a>
          <a class="dropdown-item" href="#">In that piercing light</a>
          <a class="dropdown-item" href="#">To ashes turn</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Yet without fear</a>
          <a class="dropdown-item" href="#">We must journey there</a>
          <a class="dropdown-item" href="#">And stand erect</a>
          <a class="dropdown-item" href="#">Before the lidless stare</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Key_2",
  data() {
    return {
      whoami: 'WHOAMI?',
      active: false,
      items: [
        'rotateOutUpRight',
        'zoomOut',
        'fadeInDownBig',
        'jello',
        'zoomInRight',
        'fadeOutDown',
        'jackInTheBox',
        'bounceOutLeft',
        'fadeOutLeftBig',
        'fadeInRightBig',
        'fadeOutLeftBig',
        'zoomOutRight',
        'wobble',
        'zoomOutDown',
        'rollOut',
        'slideOutDown',
        'swing',
        'rollIn',
        'heartBeat',
        'rotateInDownRight',
        'bounceIn',
        'flipOutY',
        'lightSpeedOut',
        'fadeInRight',
        'fadeInDown',
        'headShake',
        'zoomOutLeft',
        'slideInLeft',
        'flipInX',
        'rotateOutDownLeft',
        'hinge',
        'pulse',
        'shake',
        'slideOutUp',
        'slideInRight',
        'slideOutRight',
        'zoomInLeft',
        'heartBeat',
        'rotateOutDownRight',
        'lightSpeedOut',
        'fadeInRightBig'
      ]
    }
  },
  methods: {
    disorientate() {
      document.getElementsByTagName('body')[0].removeAttribute('class');

      Array.prototype.slice.call(
        document.querySelectorAll(
          'div, p, span, img, a, body, button, input, form, h3'
        )
      ).map((tag) => {
        tag.style['transform'] = `rotate(${(Math.floor(Math.random() * 3) - 1)}deg)`;
      });

      var allDivs = document.querySelectorAll('div, a, nav, html, body, button, input, form, h3');
      
      for(var i = 0; i < allDivs.length; i++) {  
        allDivs[i].style['background-color'] = 'black';
        allDivs[i].style['color'] = 'green';
        allDivs[i].style['border-color'] = 'red';
        allDivs[i].style['font-family'] = 'New Rocker';
      }
    },
    getAnimation() {
      let item = this.items[Math.floor(Math.random()*this.items.length)];

      return item;
    },
    awaken() {
      Array.prototype.slice.call(
        document.querySelectorAll(
        'button, a, form'
        )
      ).map((breathe) => {
        breathe.classList.add("animated", "faster", "infinite",this.getAnimation());
      });
    },
    aceOfPentacles() {
      this.$router.push({name: 'door_3'});
    }
  },
  created() {
    document.getElementsByTagName('html')[0].removeAttribute('class');
    document.getElementsByTagName('body')[0].removeAttribute('class');
    document.getElementsByTagName('body')[0].className = "_body";
  }, 
  mounted() {
    this.awaken();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=New+Rocker&display=swap');

.btn-danger {
  background-color: #fff;
  color: #000;
  border-color: #000;
  z-index: 1;
}

.btn-danger:hover {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.whoami {
  font-size: 30px;
  z-index: 0;
}

.row-1 {
  z-index: 999;
  position: relative;
}

.row-2 {
  z-index: -999;
}

</style>
