<template>
    <div class="key_3">
        <!-- Form Start -->
        <form v-on:submit.prevent="onSubmit" class="form-styles container">
            <!-- Modal Child Component -->
            <Modal />
            <!-- Main/Parent Component  -->
            <h3 class="main-title mb-3 mt-2">
                <span class="thin-text">MR</span> <span class="sub-section ml-2">ROBOT</span>
            </h3>
              <!-- Form row -->
            <div class="form-row">
                <!-- First name -->
                <div class="form-group col-6">
                    <label class="d-none" for="first_name">First Name</label>
                    <input type="text" class="form-control custom-input" id="first_name" placeholder="First Name" name="first_name"
                        v-model="first_name"
                        v-validate="{required: true}"
                        :class="{'input-error': errors.has('first_name')}"
                    />
                    <!-- Error message -->
                    <span v-show="errors.has('first_name')" class="input-error-message text-left">
                        {{errors.first('first_name')}}
                    </span>
                </div>
                <!-- Last name -->
                <div class="form-group col-6">
                    <label class="d-none" for="last_name">Last Name</label>
                    <input type="text" class="form-control custom-input" id="last_name" placeholder="Last Name" name="last_name"
                        v-model="last_name"
                        v-validate="{required: true}"
                        :class="{'input-error': errors.has('last_name')}"
                    />
                    <!-- Error message -->
                    <span v-show="errors.has('last_name')" class="input-error-message text-left">
                        {{errors.first('last_name')}}
                    </span>
                </div>
            </div>
            <!-- Form row -->
            <div class="form-row">
                <!-- Email -->
                <div class="form-group col">
                    <label class="d-none" for="email">E-Mail</label>
                    <input type="email" class="form-control custom-input" id="email" placeholder="*E-Mail" name="email"
                        v-model="email"
                        v-validate="{required: true, email: true}"
                        :class="{'input-error': errors.has('email')}"
                    />
                    <!-- Error message -->
                    <span v-show="errors.has('email')" class="input-error-message text-left">
                        {{errors.first('email')}}
                    </span>
                </div>
            </div>
            <!-- Form row -->
            <div class="form-row">
                <!-- Phone number -->
                <div class="form-group col-6">
                    <label class="d-none" for="phone_number">Phone Number</label>
                    <input type="tel" class="form-control custom-input" id="phone_number" placeholder="Phone Number" name="phone_number"
                        v-model="phone_number"
                        v-validate="{required: true, min: 12, max: 12, regex:/^([0-9-]+[0-9]+[-0-9]?)$/}"
                        v-mask="'###-###-####'"
                        :class="{'input-error': errors.has('phone_number')}"
                    />
                    <!-- Error message -->
                    <span v-show="errors.has('phone_number')" class="input-error-message text-left">
                        {{errors.first('phone_number')}}
                    </span>
                </div>
                <!-- State -->
                <div class="form-group col-6">
                    <select class="custom-select custom-select-background" name="state"
                        v-model="state"
                        v-validate="{required: true}"
                        :class="{'input-error': errors.has('state')}"
                    >  
                        <option v-if="state === 'CO'" :value="state" hidden>
                            Colorado
                        </option>
                        <option :value="state.value" :key="state.value" v-for="(state, index) in states">
                            {{state.state}}
                        </option>
                    </select>
                    <!-- Error message -->
                    <span v-show="errors.has('state')" class="input-error-message text-left">
                        {{errors.first('state')}}
                    </span>
                </div>
            </div>
            <!-- Form row -->
            <div class="form-row">
                <!-- Terms and conditions -->
                <div class="form-group col">
                    <div class="form-check">
                        <input id="termsAndConditions" name="termsAndConditions" type="checkbox" class="form-check-input" 
                            v-validate="'required'" 
                            v-model="termsAndConditions" 
                            :class="{'input-error': errors.has('termsAndConditions')}"  
                        />
                        <label class="check-font mt-1 mb-0" for="termsAndConditions">
                            By checking this box, you consent, acknowledge and agree to our <a href="#" class="checkbox-links" @click.prevent="electronicDisclosuresOpen()">Consent to Electronic Disclosure</a>, <a href="#" class="checkbox-links" @click.prevent="termsAndConditionsOpen()">Terms of use</a> and <a href="#" class="checkbox-links" @click.prevent="privacyPolicyOpen()">Privacy Policy</a>.
                        </label>
                        <!-- Error message -->
                        <span class="input-error-message d-flex justify-content-start text-center" v-show="errors.has('termsAndConditions')">
                            {{ errors.first('termsAndConditions') }}
                        </span>
                    </div>
                </div>              
            </div>
            <!-- Form row -->
            <div class="form-row">
                <!-- Personal information -->
                <div class="form-group col">
                    <div class="form-check">
                        <input id="personalInformation" name="personalInformation" type="checkbox" class="form-check-input" v-model="personalInformation"/>
                        <label class="check-font mt-1 mb-0" for="personalInformation">
                            By checking this box, you provide express written consent to share your nonpublic personal information with nonaffiliated third parties, see <a href="#" class="checkbox-links" @click.prevent="sharingInformation()">Sharing of Information with Non-affiliates</a>.
                        </label>
                    </div>
                </div>              
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <button type="submit" class="btn btn-primary w-100 submit-form disabled">
                        HACK THE PLANET
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
// Importing Event Bus
import {EventBus} from '@/event-bus'
// Import exports from vuex
import {mapMutations} from 'vuex'
// Import axios file with API calls
import Api from '../api/api'
// Import Modal component
import Modal from './Modal'

export default {
    name: 'ShortApp',
    components: {Modal},
    data() {
        return {
            time: '',
            states: [
                {state: "Alabama", value: "AL"}, 
                {state: "Alaska", value: "AK"},
                {state: "Arizona", value: "AZ"},
                {state: "Arkansas", value: "AR"},
                {state: "California", value: "CA"}, 
                {state: "Colorado", value: "CO"}, 
                {state: "Connecticut", value: "CT"},
                {state: "Delaware", value: "DE"}, 
                {state: "District of Columbia", value: "DC"}, 
                {state: "Florida", value: "FL"}, 
                {state: "Georgia", value: "GA"}, 
                {state: "Hawaii", value: "HI"}, 
                {state: "Idaho", value: "ID"}, 
                {state: "Illinois", value: "IL"},
                {state: "Indiana", value: "IN"}, 
                {state: "Iowa", value: "IA"}, 
                {state: "Kansas", value: "KS"}, 
                {state: "Kentucky", value: "KY"}, 
                {state: "Louisiana", value: "LA"}, 
                {state: "Maine", value: "ME"}, 
                {state: "Maryland", value: "MD"}, 
                {state: "Massachusetts", value: "MA"}, 
                {state: "Michigan", value: "MI"},
                {state: "Minnesota", value: "MN"},
                {state: "Mississippi", value: "MS"},
                {state: "Missouri", value: "MO"},
                {state: "Montana", value: "MT"},
                {state: "Nebraska", value: "NE"},
                {state: "Nevada", value: "NV"},
                {state: "New Hampshire", value: "NH"},
                {state: "New Jersey", value: "NJ"},
                {state: "New Mexico", value: "NM"},
                {state: "New York", value: "NY"},
                {state: "North Carolina", value: "NC"},
                {state: "North Dakota", value: "ND"},
                {state: "Ohio", value: "OH"},
                {state: "Oklahoma", value: "OK"},
                {state: "Oregon", value: "OR"},
                {state: "Palau", value: "PW"},
                {state: "Pennsylvania", value: "PA"},
                {state: "Puerto Rico", value: "PR"},
                {state: "Rhode Island", value: "RI"},
                {state: "South Carolina", value: "SC"},
                {state: "South Dakota", value: "SD"},
                {state: "Tennessee", value: "TN"},
                {state: "Texas", value: "TX"},
                {state: "Utah", value: "UT"},
                {state: "Vermont", value: "VT"},
                {state: "Virgin Islands", value: "VI"},
                {state: "Virginia", value: "VA"},
                {state: "Washington", value: "WA"},
                {state: "West Virginia", value: "WV"},
                {state: "Wisconsin", value: "WI"},
                {state: "Wyoming", value: "WY"}
            ],    
        }
    },
    mounted () {
        // Triggers the timer when the instance is mounted
        this.inactivityTime();
    },
    // https://vuejs.org/v2/guide/computed.html#Computed-Properties
    // https://baianat.github.io/vee-validate/examples/vuex.html
    computed: {
        first_name: { 
            get() {
                return this.$store.state.user.first_name;
            },
            set(val) {
                this.UPDATE_FIRST_NAME(val);
            }
        },
        last_name: {
            get() {
                return this.$store.state.user.last_name;
            },
            set(val) {
                this.UPDATE_LAST_NAME(val)
            }
        },
        phone_number: {
            get() {
                return this.$store.state.user.phone_number;
            },
            set(val) {
                this.UPDATE_PHONE_NUMBER(val);
            }
        },
        email: {
            get() {
                return this.$store.state.user.email;
            },
            set(val) {
                this.UPDATE_EMAIL(val);
            }
        },
        state: {
            get() {
                return this.$store.state.user.state;
            },
            set(val) {
                this.UPDATE_STATE(val);
            }
        },
        termsAndConditions: {
            get() {
                return this.$store.state.user.termsAndConditions;
            },
            set(val) {
                this.UPDATE_TERMS_AND_CONDITIONS(val);
            }
        },
        personalInformation: {
            get() {
                return this.$store.state.user.personalInformation;
            },
            set(val) {
                this.UPDATE_PERSONAL_INFORMATION(val);
            }
        },
        loan_number: {
            get() {
                return this.$store.state.user.loan_number;
            },
            set(val) {
                this.UPDATE_LOAN_NUMBER(val);
            }
        },
    },
    methods: {
        // https://vuex.vuejs.org/guide/mutations.html#committing-mutations-in-components
        // User module
        ...mapMutations('user', [
            'UPDATE_FIRST_NAME',
            'UPDATE_LAST_NAME',
            'UPDATE_PHONE_NUMBER',
            'UPDATE_EMAIL',
            'UPDATE_STATE',
            'UPDATE_TERMS_AND_CONDITIONS',
            'UPDATE_PERSONAL_INFORMATION',
            'UPDATE_LOAN_NUMBER',
            'RESET_STATE'
        ]),
        // Form submission call
        onSubmit() {				
            this.$validator.validateAll().then((result) => {
                if (result) {
                    EventBus.$emit('SPINNER_ON');
                    // Object that will be sent through request to API
                    let api_payload = this.$store.state.user;
            
                    // Cookies that persist data throughout application outside vue
                    this.dataPersistence();
                    this.$router.push({name: 'door_4'});

                    // Vuex user module action dispatch
                    // Api.apiPost(api_payload)
                    //     .then((response) => {
                    //         // Removes spinner
                    //         EventBus.$emit('SPINNER_OFF');
                    //         // Redirect to congratulations page
                    //         clearTimeout(this.time);
                    //         this.$router.push({name: ''});
                    //     })                    
                    //     .catch((error) => {
                    //         // Existing user modal 
                    //         // EventBus.$emit('EXISTING_USER_OPEN');
                    //         // Removes spinner
                    //         EventBus.$emit('SPINNER_OFF');
                    //         console.log(error);
                    //     });
                    
                    // console.log('Form is valid');		
                    return;
                }
                    console.log('Form is invalid');
            }).catch((error) => {
                console.log(error);
            });
        },
        // Functions that open a new window with policies, disclosure, terms & conditions, etc.
        electronicDisclosuresOpen() {
            window.open('https://www.10adventures.com/americas-10-best-backpacking-trips/', '', 'height=395,width=580,scrollbars=yes');
        },
        termsAndConditionsOpen() {
            window.open('https://coinmarketcap.com/', '', 'height=395,width=580,scrollbars=yes');
        },
        privacyPolicyOpen() {
            window.open('https://gitlab.com/The_Void', '', 'height=395,width=580,scrollbars=yes');
        },
        sharingInformation() {
            window.open('https://www.linkedin.com/in/joseph-leon-bb866210b/', '', 'height=395,width=580,scrollbars=yes');
        },
        // end
        // Persistent Data
        dataPersistence() {
            // Create cookie for data that needs to be persisted outside framework
            let cookie_payload = {
                'first_name': this.first_name,
                'last_name': this.last_name,
                'phone_number': this.phone_number,
                'email': this.email,
                'state': this.state,
            }
            let items = Object.entries(cookie_payload);

            // 0: ["key1", "value1"]
            // 1: ["key2", "value2"]
            // 2: ["key3", "value3"]
            items.forEach(item => {
                let key = item[0];
                let value = item[1];
                // key, value, expiration, domain
                this.$cookie.set(`app.${key}`, `${value}`, {expires: 1, domain: 'localhost'});
            });
        },
        // Function that resets the state for the vuex module
        // Also resets validation so that error messages don't appear on state reset
        reset() {
            this.$store.commit('user/RESET_STATE');
            this.$validator.reset();
            EventBus.$emit('SESSION_OPEN');
        },
        // Expired session timer
        resetTimer() {
            clearTimeout(this.time);
            this.time = setTimeout(this.reset, 6000)
        },
        inactivityTime() {
            window.onload = this.resetTimer;
            // DOM Events
            document.onmousemove = this.resetTimer;
            document.onkeypress = this.resetTimer;

            this.resetTimer();  
        },
        // End expired session timer
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // scss import with base colors/class
    @import '../assets/base';

    .key_3 {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: $black;
    }
    // Form
    .form-styles {
        position: relative;
        border: 1px solid $border;
        opacity: 0.85;
        color: $grey-font;
        border-radius: 12px;
        background-color: $white;
        text-align: left!important;
    }

    // Main title
    .main-title {
        text-align: left!important;
        font-size: 34px;
        padding-bottom: 0;
        margin-bottom: 0px;
        color: #000;
    }

    .sub-section {
        font-weight: 700;
        letter-spacing: .49px;
    }

    .thin-text {
        font-weight: 300;
        letter-spacing: .02em;
    }

    // Input
    .custom-input, .custom-select-background {
        background-color: $input-background;
        border: 1px solid transparent;
    }
    // Checkbox
    .check-font {
        font-size: 12px;
    }

    .checkbox-links {
        color: $orange-font;   
    }

    // Button
    .submit-form {
        background-color: $primary-orange;
        border-color: $primary-orange;
        height: 115%;

        &:hover {
            background-color: $orange-hover;
            border-color: $orange-hover;
        }

        &:focus {
            box-shadow: none;
        }

        &:active {
            background-color: $primary-orange!important;
            border-color: $primary-orange!important;   
        }

        &:disabled {
            background-color: #000!important;
        }
    }

    .btn-primary.disabled{
            background-color: #000!important;
            border-color: #000!important;
        }
    

</style>
