<template>
    <div class="key_4 container-fluid">
        <div class="row align-middle d-flex align-items-center justify-content-center mt-4">
            <div v-for="user in users" :key="user.id">
                <div class="card-border m-3">
                    <div class="row m-3 outer-row">
                        <div class="col-5 my-auto">
                            <div class="circle-icon icon-black hover-pink align-middle d-flex align-items-center justify-content-center">
                                <font-awesome-icon icon="user" class="icon-inner"/>
                            </div>
                        </div>
                        <div class="vertical-rule mt-3"></div>
                        <div class="col-6 pr-0 my-auto">
                            <h6><b>{{user.name}}</b></h6>
                            <p class="card-text mb-1 small-text">{{user.company.name}}</p>
                            <hr/>
                            <div class="row">
                                <div class="col-4">
                                     <a :href="user.phone | phoneLength" class="custom-icon">
                                        <font-awesome-icon icon="phone"/>  
                                    </a>
                                </div>
                                <div class="col-8">
                                    <a :href="`mailto:${user.email}`" class="custom-icon">
                                        <font-awesome-icon icon="envelope"/>  
                                    </a> 
                                </div>
                            </div>
                            
                        </div>
                    </div> 
                </div>
            </div>   
        </div>   
    </div>
</template>

<script>
// Importing Event Bus
import {EventBus} from '@/event-bus'
// Import exports from vuex
import {mapMutations} from 'vuex'
// Import axios file with API calls
import Api from '../api/api'
// Import Modal component
import Modal from './Modal'

export default {
    name: 'ShortApp',
    components: {Modal},
    data() {
        return {
            users: []
        }
    },
    filters: {
        phoneLength(value) {
            return value.substr(0,13)
        }
    },
    created () {
        Api.getUsers()
            .then((response) => {
                this.users = response.data;
                console.log(response);
                console.log('users: ', this.users);
            })                    
            .catch((error) => {
                console.log(error);
            });
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.key_4 {
    .card-border {
        border-radius: 14px;
        box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.28);
        cursor: pointer;
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }

    .outer-row {
        min-width: 322px;
        min-height: 195px;
    }

    a {
        color: #000;
    }

    hr {
        border-top: 1px solid rgba(8, 8, 8, 0.36)!important;
        margin-top: 6px;
    }

    .small-text {
        font-size: 12px;
    }

    .vertical-rule {
        border-left:1px solid grey;
        height: 165px;
    }

    .custom-icon {
        border: 1px solid #000;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle-icon {
        box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.28);
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: auto;
        color: #000;
        background-color: #fff;
        cursor: pointer;
    }

    .icon-inner {
        margin: 32px;
        font-size: 2.5em;
    }
}

</style>
