<template>
    <div class="modals">
        <!-- Overlay -->
        <div ref="spinner" class="centeredOverlay d-none">
            <div class="modal-content spinner-content">
                <div class="modal-body">
                    <div class="text-center">
                        <font-awesome-icon class="fa-6x _fa-spinner" icon="spinner" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Expired session -->
        <div ref="session" class="centeredOverlay d-none" @click="sessionClose">                           
            <div class="modal-content expired-session ml-5 mr-5">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title">SYSTEM FAILURE</h5>
                    <button type="button" class="close pl-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">
                        “The more a thing is perfect, the more it feels pleasure and pain.” 
                    </p>
                    <p class="mb-0">
                        ― Dante Alighieri, The Divine Comedy
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="sessionClose">EXIT</button>
                </div>
            </div>
        </div>
        <!-- Existin user -->
        <div ref="user" class="centeredOverlay d-none" @click="userClose">                           
            <div class="modal-content existing-user ml-5 mr-5">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title">User already exists</h5>
                    <button type="button" class="close pl-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">This user already exists.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="userClose">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// Importing Event Bus
import {EventBus} from '@/event-bus'
    export default {
        name: 'Modal',
        mounted () {
            EventBus.$on('EXISTING_USER_OPEN', () => {
                this.userOpen();
            });
            EventBus.$on('SESSION_OPEN', () => {
                this.sessionOpen();
            });
            EventBus.$on('SPINNER_ON', () => {
                this.spinnerOn();
            });
            EventBus.$on('SPINNER_OFF', () => {
                this.spinnerOff();
            });
        },
        methods: {
            sessionClose() {
                var allDivs = document.querySelectorAll('div, a, nav, html, body, button, input, form, h3, p, span');

                for(var i = 0; i < allDivs.length; i++) {  
                    allDivs[i].removeAttribute("style");
                }

                this.$refs.session.classList.add("d-none");
                this.$router.push({name: 'door_3'});
                this.$store.commit('user/RESET_STATE');
                this.$validator.reset();
            },
            sessionOpen() {
                this.$refs.session.classList.remove("d-none");    
            },
            userOpen() {
                this.$refs.user.classList.remove("d-none");    
            },
            userClose() {
                this.$refs.user.classList.add("d-none");
                this.$router.push({name: 'door_3'});
                this.$store.commit('user/RESET_STATE');
                this.$validator.reset();    
            },
            spinnerOn() {
                this.$refs.spinner.classList.remove("d-none");
            }, 
            spinnerOff() {
                this.$refs.spinner.classList.add("d-none");
            }
        },
        
    }
</script>

<style lang="scss" scoped>
    // scss import with base colors/class
    @import '../assets/base';
        /* Overlay */
    .centeredOverlay {
        position: absolute;
        border-radius: 12px;
        background-color: rgba(49, 47, 47, 0.3);
        top:0;
        left:0;
        width:100%;
        height:100%;
        color:black;
        z-index: 999;
        align-items: center;
        text-align: center;
        align-content: center;
        display: flex;
        justify-content: center;
    }

    .spinner-content {
        background-color: transparent!important;
        border: 0!important;
    }

    .expired-session, .existing-user {
        background-color: white!important;
        border: 0!important;
    }

    .expired-session, .existing-user {
        & .modal-title {
           position: absolute!important; 
        }

        &.modal-content {
            border-radius: 12px;
        }
    }

    /** Loader **/
    ._fa-spinner {
        color: $primary-orange;
    }
    /* keyframes for spinner */
    @keyframes spinner {
    to { transform: rotate(360deg); }
    }
    /* This is the class name given by the Font Awesome component when icon contains 'spinner' */
    .fa-spinner {
    /* Apply 'spinner' keyframes looping once every second (1s)  */
    animation: spinner 1s linear infinite;
    }
</style>