<template>
    <div class="container-fluid">
        <div v-if="lock_13 == 0" class="animated fadeInUp slower">
            <div class="row mt-5">
                <div @click="_tau()" class="col text-center">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div @click="_vav()" class="col text-center d-flex align-items-center justify-content-end">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div v-if="mem == '' || vav == '' || tau == '' || mvt == ''" class="col mvvt text-center">
                    <span ref="_1">M</span><span ref="_2">VV</span><span ref="_3">T</span>
                </div>
                <div @click="unlock_13()" id="_revelation" v-if="mem == 6 && vav == 6 && tau == 6 && mvt == 13" class="col mvvt text-center animated fadeIn slower">
                    {{revelation}}
                </div>
                <div @click="_vav()" class="col text-center d-flex align-items-center justify-content-start">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div @click="_mem()" class="row mt-5">
                <div class="col text-center">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        
        <nav v-if="lock_13 == 6" class="navbar navbar-expand-lg navbar-light animated fadeInUp slower">
            <a class="navbar-brand animated fadeOut faster infinite" href="#">I</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link animated lightSpeedOut faster infinite" href="#">II<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link animated rubberBand faster infinite" href="#">III</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle animated zoomInLeft faster infinite" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            IV
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item animated bounceInRight faster infinite" href="#">Action</a>
                            <a class="dropdown-item animated bounceInLeft faster infinite" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item animated bounceInDown faster infinite" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled animated rollOut faster infinite" href="#" tabindex="-1" aria-disabled="true">V</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>

<script>
import { setTimeout } from 'timers';
export default {
    name: 'navigation',
    data() {
        return{
            lock_13: 0,
            mem: '',
            vav: '',
            tau: '',
            mvt: ''
        }
    },
    computed: {
        revelation() {
            let encode = window.btoa('Little Horn');
            return encode;
        },
        markOfTheBeast: {
            // getter
            get: function () {
                return `${this.mem}${this.vav}${this.tau}`;
            }
        }
    },
    watch: {
        markOfTheBeast: function(newVal, oldVal) {
            if(newVal == 666) {
                setTimeout(() => {
                    this.unlock();
                }, 4000);
            }
        }
    },
    methods: {
        unlock() {
            this.mvt = 13;
        },
        unlock_13() {
            this.lock_13 = 6;
            this.$parent.prophecy();
        },
        _mem() {
            this.$refs._1.textContent = window.btoa('6');
            this.mem = 6;
        },
        _vav() {
            this.$refs._2.textContent = window.btoa('6');
            this.vav = 6;
        },
        _tau() {
            this.$refs._3.textContent = window.btoa('6');
            this.tau = 6;
        }
    }
}
</script>

<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=New+Rocker&display=swap');
    .navbar {
        font-family: 'New Rocker', cursive;
    }

    .mvvt{
        font-size: 60px;
        font-family: 'New Rocker', cursive;
    }

    #_revelation {
        cursor: pointer;
    }

</style>
