// Variables
// Colors
$primary-orange: #e7780d;
$orange-font: #c36928;
$orange-hover: #f78b23;
$primary-green: #0f5942;
$white: #fff;
$black: #000;
$grey-font: #555;
$hr: #4d4d4d;
$border: #a6aba6;
$input-background: #e7e7e7;

// Font family
$primary-font: "Open Sans",sans-serif;

/**Validation**/
.input-error {
  border-color: #E84444 !important;
}

.input-error[type="text"]:focus {
  border-color: #E84444 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(232,68,68,.6)!important;
}

.input-success {
    border: 1px solid #007400 !important;
    box-shadow: 0px 1px 20px 1px rgba(0,102,0,0.62);
}

.input-error-message { 
    color: #A04241!important;
}