<template>
  <div id="app">
    <router-view /> 
  </div>
</template>

<style lang="scss">
  .custom-body {
    background-color: #000!important;
    color: #fff!important;
  }

  ._body {
    background-color: #fff!important;
    color: #000!important;
  }
  
  .myHtml {
    align-items: center!important;
    height: 100%!important;
    justify-content: center!important;
    vertical-align: middle!important;
    display: flex!important;
  }

  .chaos {
    -webkit-animation: bgcolorchange 1s infinite; /* Chrome, Safari, Opera */ 
    animation: 1s infinite bgcolorchange;
  }
  
  @keyframes bgcolorchange {
    0% {
      background-color: #000;
      color: #fff;
    }
    25% {
      background-color: #fff;
      color: #000; 
    }
    50% {
      background-color: #000;
      color: #fff;
    }
    75% {
      background-color: #fff;
      color: #000;
    }
    100% {
      background-color: #000;
      color: #fff;
    }
  }
  /* Chrome, Safari, Opera */
  @-webkit-keyframes bgcolorchange {
      0%   {background: #000; color: #fff;}
      25%  {background: #fff; color: #000;}
      75%  {background: #000; color: #fff;}
      100% {background: #fff; color: #000;}
  }
  @-moz-keyframes bgcolorchange {
      0%   {background: #000; color: #fff;}
      25%  {background: #fff; color: #000;}
      75%  {background: #000; color: #fff;}
      100% {background: #fff; color: #000;}
  }
 
</style>
